<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/lib/css/custom.css" rel="stylesheet">
</head>
<body>

<div class="container" id="main-region"></div>

<script type="text/template" id="album-show-info">
    <div class="h1"><%= title %></div>
    <div class="h4"><%= description %></div>
</script>

<script type="text/template" id="album-show">
    <% _.each(images, function(image, key){ %>
    <div class="image-wrapper col-md-3 col-sm-4 col-xs-6">
        <img class="img-rounded" src="<%= image.path %>">
    </div>
    <% }); %>
</script>

<script type="text/template" id="album-show-layout">
    <div id="info-region"></div>
    <div id="images-region"></div>
    <div id="pagination-region"></div>
</script>

<script type="text/template" id="album-list">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</script>

<script type="text/template" id="album-list-item">
    <td><%= title %></td>
    <td><%= description %></td>
    <td>
        <a href="#albums/<%= id %>" class="btn btn-default btn-sm js-show">
            <span class="glyphicon glyphicon-eye-open"> Show</span>
        </a>
    </td>
</script>

<script type="text/template" id="missing-album-view">
    <div class="alert alert-danger">This album doesn't exist!</div>
</script>

<script type="text/template" id="loading-view">
    <h1>Loading...</h1>
    <div id="spinner"></div>
</script>

<script src="/assets/vendor/jquery/dist/jquery.js"></script>
<script src="/assets/vendor/underscore/underscore.js"></script>
<script src="/assets/vendor/backbone/backbone.js"></script>
<script src="/assets/vendor/backbone.marionette/lib/backbone.marionette.js"></script>
<script src="/assets/vendor/spin.js/spin.js"></script>
<script src="/assets/vendor/spin.js/jquery.spin.js"></script>

<script src="/assets/lib/js/app.js"></script>
<script src="/assets/lib/js/entities/album.js"></script>
<script src="/assets/lib/js/apps/albums/list/list_view.js"></script>
<script src="/assets/lib/js/apps/albums/list/list_controller.js"></script>
<script src="/assets/lib/js/apps/albums/show/show_view.js"></script>
<script src="/assets/lib/js/apps/albums/show/show_controller.js"></script>
<script src="/assets/lib/js/apps/albums/albums_app.js"></script>

<script src="/assets/lib/js/common/views.js"></script>


<script type="text/javascript">
    PhotoGallery.start();
</script>
</body>
</html>